<!DOCTYPE html>
<html lang="en">




<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TradeSpade - CMPT 733 Project - SFU</title>
  <!-- Favicon Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/images/favicon.png">
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <!-- Icon Fonts-->
  <link href="static/vendor/webfont/css/cryptocoins.css" rel="stylesheet" type="text/css">
  <link href="static/vendor/webfont/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="static/css/style1.css">
  <link rel="stylesheet" href="static/css/style2.css">
  <link href="static/css/admin.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="static/js/app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<style>
a:hover {
  color: white;
}
a {
  color: white;
}
</style>

</head>



<body class="fixed-nav sticky-footer" id="page-top" >
  <div class="box bg_primary" style="background:none;border:none;margin-left: 20px;margin-right: 20px;z-index: 10000; position: absolute;">
    <h1><img class="navbar-img" src="static/images/sfu_logo_white.png" alt="Girl in a jacket" style="width:150px; height:80px">
    Welcome to SFU Big Data - CMPT 733 Project!</h1>
    </div>
<div id="particles-js" >
      <div class="scifiUI" style="z-index: 900; position: absolute;">
      <h1>TradeSpade</h1>
      <ul>
         <li><a href="{{ url_for( 'stocks' ) }}">Stocks</a></li>
         <li><a href="{{ url_for( 'cryptocurrencies' ) }}">Crypto-Currencies</a></li>
         <li><a href="{{ url_for( 'eda' ) }}">Exploratory Data Analysis</a></li>
        <li><a href="{{ url_for( 'data_collection' ) }}"> Data Collection</a></li>
      </ul>
    </div>





    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>




</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js'></script>


   <script  src="static/js/index1.js"></script>




</html>
